* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid 2px black;
}

body, html {
    padding: 0;
    border: 0;
    margin: 0;
}

/*Header*/

.hdr {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 5px 100px 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hdr > h2 {
   color: #F9FAF8;
   font-size: 24px;
}
.nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
    
    
}


.nav-list > li > a{
    color: #F9FAF8;
    text-decoration: none;
}
/* Section 1*/

.sec1 {
    padding: 0px 100px 40px 100px;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    align-items: flex-start;
    padding-bottom: 100px;
    max-height: auto;
    overflow: hidden;


}
#hero {
    padding-top: 0;
    margin-top: 0;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    max-width: 45%;
    height: auto;
    width: auto;
    max-height: 70%;
    gap: 20px;
    font-size: 18px;
       
}

#hero-text {
    font-weight: 900;
    font-size: 48px;
    margin: 0;
    
}

#hero-img {
    display: flex;
    overflow: hidden;
    max-width: 45%;
    height: auto;
    width: auto;
    max-height: 70%;
}
#secondary-txt, #signup1, ul {
    color: #E5E7EB;
}

#signup1 {
    padding: 12px 24px;
    max-width: 125px;
    background-color: #3882F6;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 800;

}

/*Second Section*/

.img-section {
    padding: 30px 100px 40px 100px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
#img-heading {
    display: flex;
    align-self: center;
}

.img-and-txt > img {
    border: 2px solid ;
    max-width: 60px;
    max-height: 60px;
}